@font-face {
    font-family: "Source Sans";
    font-weight: 400;
    src: url("SourceSans-Regular.ttf.woff2") format("woff2");
}

@font-face {
    font-family: "Source Sans";
    font-weight: 500;
    src: url("SourceSans-Medium.ttf.woff2") format("woff2");
}

@font-face {
    font-family: "Source Sans";
    font-weight: 600;
    src: url("SourceSans-Semibold.ttf.woff2") format("woff2");
}

@font-face {
    font-family: "Source Sans";
    font-weight: 700;
    src: url("SourceSans-Bold.ttf.woff2") format("woff2");
}
